.custom-tooltip {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
  
.custom-tooltip .label {
    margin: 0;
    padding: 2px 0;
}